{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% include "nav/_nav.html.twig" %}

    <section class="register-container">
        <h1>S'inscrire</h1>

        {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_row(registrationForm.username) }}
            </div>

            <div class="form-group">
                {{ form_row(registrationForm.plainPassword) }}
            </div>
            <button type="submit" class="btn fc-button-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </section>
    
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}