{% if forms is defined %}
    <div>
        <div class="list-design list">

            {% if date is defined %}
                {% set date = date %}
            {% else %}
                {% set date = "now"|date('d m Y') %}
            {% endif %}
            
            <h2>{{date|date('d m Y')}}</h2>

            {% for form in forms %}
                
                {{ form_start(form) }}
                    <div class="done">
                        {{ form_label(form.done) }}
                        {{ form_errors(form.done) }}
                        {{ form_widget(form.done, {'attr': {'class': 'option-input checkbox'}}) }}
                    </div>
                    <div class="name">
                        {{ form_label(form.name) }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'placeholder': 'FIRSTNAME'}}) }}
                    </div>
                    <div class="date">
                        {{ form_label(form.date) }}
                        {{ form_errors(form.date) }}
                        {{ form_widget(form.date) }}
                    </div>
                    <div class="buttons">
                        <button class="btn fc-button-primary">{{ button_label|default('Ok') }}</button>
                        <a href="{{ path('todolist.delete', {id: ids[loop.index0]}) }}" class="btn fc-button-primary" onclick="return confirm('Voulez-vous vraiment supprimer ce point ?');" id="delete-entry">Supprimer</a>
                    </div>
            
                {{ form_end(form) }}
            {% endfor %}
        </div>
    </div>

{% else %}
    <div>
        <div class="list-design">
            <p>Il n'y avait pas de liste ce jour-ci :)</p>
        </div>
    </div>
{% endif %}

