{% extends 'base.html.twig' %}

{% block title %}To Do List{% endblock %}

{% block body %}

    {% if ids is defined %}

        <h1>To Do List</h1>

        <div id="slick-holder">
            <section id="today-list" class="list">
                {% include "to_do_list/_form.html.twig" %}
            </section>
        </div>

        <div id="slick-nav">
            <button type="button" id="previous" class="prev"><i class="fas fa-arrow-left"></i></button>
            <button type="button" id="next" class="next"><i class="fas fa-arrow-right"></i></button>
        </div>
        

        <a id="add-entry" class="btn fc-button-primary"><i class="fas fa-plus"></i></a>
        <a href="{{path('index')}}">Retour à l'accueil du site</a>

    {% else %}

        <h1>To Do List</h1>

        <div id="slick-holder">
            <section id="today-list" class="list">
                <div class="list-design">
                  <p>{{error}}</p>
                </div>
            </section>
        </div>

        <div id="slick-nav">
            <button type="button" id="previous" class="prev"><i class="fas fa-arrow-left"></i></button>
            <button type="button" id="next" class="next"><i class="fas fa-arrow-right"></i></button>
        </div>

        <a id="add-entry" class="btn fc-button-primary">+</a>
        <a href="{{path('index')}}">Retour à l'accueil du site</a>

    {% endif %}
    
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('todolist') }}
{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('todolist') }}
    
{% endblock %}