{{ form_start(form) }}
    <div class="done">
        {{ form_label(form.done) }}
        {{ form_errors(form.done) }}
        {{ form_widget(form.done, {'attr': {'class': 'option-input checkbox'}}) }}
    </div>
    <div class="name">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="buttons">
        <button class="btn fc-button-primary">{{ button_label|default('Ok') }}</button>
    </div>
{{ form_end(form) }}