{% extends 'base.html.twig' %}

{% block body %}
    
    {% include "nav/_nav.html.twig" %}

    <div class="calendar-container">
        <div id="calendar" data-events-url="{{ path('fc_load_events')}}"></div>
        <div id="event-click-result">
            <a id="edit-event" class="btn fc-button-primary">Modifier l'événement</a>
        </div>
        
        <nav class="calendar-nav">
            <a class="btn fc-button-primary" id="create-event"> Créer un événement </button>
            <a href="{{path('bujo.home')}}">Retour à l'accueil du site</a>
        </nav>
    </div>

    <div class="popup-background"></div>
    <div class="popup"></div>
    
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('calendar') }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}