{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
    <h1>Liste des événements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>{{ booking.description }}</td>
                <td>{{ booking.place }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">Voir</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun événement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Créer un nouvel événement</a>
{% endblock %}
