{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1> {{booking.title}} </h1>

    <div class="container">
        <div class="containerTable">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Début</th>
                        <td>{{ booking.beginAt ? booking.beginAt|date('d/m/Y à H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Fin</th>
                        <td>{{ booking.endAt ? booking.endAt|date('d/m/Y à H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ booking.description }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ booking.place }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="btnContainer">
            <a href="{{ path('booking_index') }}" class="btn">Retour à la liste des événements</a>

            <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="btn">Éditer</a>

            {{ include('booking/_delete_form.html.twig') }}
        </div>
        
    </div>

    

    
{% endblock %}
