{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}

    {% include "nav/_nav.html.twig" %}
    <h1>Notes</h1>

    <section id="notes">
        {% for note in notes %}

        <div class="note">
            <a href="{{ path('note.edit', {id: note.id}) }}"><p>{{note.title}}</p>  </a>
        </div>

        {% endfor %}
    </section>

    <div id="create-note">
        <a href="{{path('note.new')}}" class="btn fc-button-primary"><i class="fas fa-plus"></i></a>
    </div> 
    <a href="{{path('bujo.home')}}" class="back-link">Retour à l'accueil du site</a>
    
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('note') }}
{% endblock %}

