{% extends "base.html.twig" %}

{% block body %}
    <nav id="archives">
        <div class="form">Rechercher</div>
        <div class="month" id="january"><p>Janvier</p></div>
        <div class="month" id="february"><p>Février</p></div>
        <div class="month" id="march"><p>Mars</p></div>
        <div class="month" id="april"><p>Avril</p></div>
        <div class="month" id="may"><p>Mai</p></div>
        <div class="month" id="june"><p>Juin</p></div>
        <div class="month" id="july"><p>Juillet</p></div>
        <div class="month" id="august"><p>Août</p></div>
        <div class="month" id="september"><p>Septembre</p></div>
        <div class="month" id="october"><p>Octobre</p></div>
        <div class="month" id="november"><p>Novembre</p></div>
        <div class="month" id="december"><p>Décembre</p></div>
    </nav>

    <div> 

    <canvas id="myChart" width="800" height="800"></canvas>
    
    {% if moods is defined %}
        {% for mood in moods %}
            {{mood.feeling}} 
        {% endfor %}
    {% endif %}
    
    </div>
    
{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('mood') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('mood') }}
    {{ encore_entry_script_tags('chart') }}
{% endblock %}