{% extends 'base.html.twig' %}

{% block title %}Mood index{% endblock %}

{% block body %}
    <h1>Mood index</h1>

    <nav id="mood-nav">
        <ul>
            <li><a href="{{path('mood.today')}}">Mood du jour</a></li>
            <li><a href="{{path('mood.archives')}}">Archives</a></li>
        </ul>
    </nav>
{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('mood') }}
{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('mood') }}
    
{% endblock %}