<p id="open-general-menu"><i class="fas fa-bars"></i>MENU</p>


<nav id="nav-general-menu">
    <i class="fas fa-times" id="close-general-menu"></i>  
    <p>Bullet Journal Menu</p>
    <ul>
        <li><a href=" {{path('bujo.home')}} ">Accueil</a></li>
        <li><a href=" {{path('booking.calendar')}} ">Agenda</a></li>
        <li><a href=" {{path('todolist.index')}} ">To Do Lists</a></li>
        <li><a href=" {{path('mood.index')}} ">Mood</a></li>
        <li><a href=" {{path('note.index')}} ">Notes</a></li>
        <li><a href="{{path('logout')}}">Se déconnecter</a></li>
    </ul>
</nav>